.main {
  padding: 60px 11vw 0 11vw;
  min-height: 500px;
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 60px 160px 0 160px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 70px 20px 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    padding: 70px 0 0 0;
  }
}
