.header {
  position: relative;
  padding: 30px 11vw 9vw 11vw;
  box-sizing: border-box;
  // min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #222222;
  border-radius: 20px;
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 30px 160px 130px 160px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 30px 50px 50px 50px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    padding: 20px 20px 20px 20px;
  }
}

