.card {
  padding: 40px;
  width: 100%;
  min-height: 308px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f8f8f8;
}
