.header__logo {
  margin-bottom: 60px;
  width: 40px;
  height: 40px;
  background-image: url(/../images/logo.svg);
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .header__logo {
    margin-bottom: 50px;
  }
}
